#PART4 {
    height: 139.5px;
}

#HEADLINE3962 {
    width: 770px;
    top: 70px;
    left: 264.5px;
}

#HEADLINE3962>.ladi-headline {
    color: rgb(84, 84, 84);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

#SECTION3970 {
    height: 415px;
}

#SECTION3970.ladi-animation {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

#GROUP3980 {
    width: 1009.07px;
    height: 354.636px;
    top: 30.182px;
    left: 103.966px;
}

#PARAGRAPH3981 {
    width: 606px;
    top: 71.768px;
    left: 403.069px;
}

#PARAGRAPH3981>.ladi-paragraph {
    color: rgb(36, 36, 36);
    font-size: 22px;
    line-height: 1.6;
}

#IMAGE3982 {
    width: 304.069px;
    height: 354.636px;
    top: 0px;
    left: 0px;
}

#IMAGE3982>.ladi-image>.ladi-image-background {
    width: 304.069px;
    height: 354.636px;
    top: 0px;
    left: 0px;
    background-image: url("http://viettelpay.vn/1/gt5/images/asset-2-20200612091917.png");
}

#LDP_IMAGE3 {
    width: 180.452px;
    height: 39.7357px;
    top: 220.768px;
    left: 615.843px;
}

#LDP_IMAGE3>.ladi-button {
    border-radius: 14px;
}

#LDP_IMAGE3>.ladi-button>.ladi-button-background {
    background: #ff4500;
    background: -webkit-linear-gradient(-30deg, #ff4500, #ff992e);
    background: linear-gradient(-30deg, #ff4500, #ff992e);
}

#BUTTON_TEXT3983 {
    width: 180px;
    top: 11.9207px;
    left: 0px;
}

#BUTTON_TEXT3983.ladi-animation>.ladi-headline {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#BUTTON_TEXT3983>.ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

.ladi-button>.ladi-element .ladi-headline {
    display: table-cell;
    vertical-align: middle;
}
