#SECTION4001 {
    height: 812.62px;
}

#SECTION4001>.ladi-section-background {
    background: #ff992e;
    background: -webkit-linear-gradient(180deg, #ff992e, #ff4500);
    background: linear-gradient(180deg, #ff992e, #ff4500);
}

#IMAGE4002 {
    width: 788.601px;
    height: 726.708px;
    top: 83.371px;
    left: 213.696px;
}

#IMAGE4002>.ladi-image {
    opacity: 0.1;
    border-radius: 0px;
}

#IMAGE4002>.ladi-image>.ladi-image-background {
    width: 788.601px;
    height: 726.708px;
    top: 0px;
    left: 0px;
    background-image: url("http://viettelpay.vn/1/gt5/data/logo-1566653828.svg");
}

#IMAGE4003 {
    width: 316.589px;
    height: 223.278px;
    top: 188.215px;
    left: 717.972px;
}

#IMAGE4003 {
    width: 316.589px;
    height: 223.278px;
    top: 188.215px;
    left: 717.972px;
}

#IMAGE4003>.ladi-image>.ladi-image-background {
    width: 316.589px;
    height: 216.323px;
    top: 0px;
    left: 0px;
    background-image: url("http://viettelpay.vn/1/gt5/images/ck20-20200615041121.png");
}

#IMAGE4003.ladi-animation>.ladi-image {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#IMAGE4004 {
    width: 392.869px;
    height: 239.052px;
    top: 482.371px;
    left: 144.086px;
}

#IMAGE4004.ladi-animation>.ladi-image {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#IMAGE4004>.ladi-image>.ladi-image-background {
    width: 392.869px;
    height: 239.052px;
    top: 0px;
    left: 0px;
    background-image: url("http://viettelpay.vn/1/gt5/images/ck-dien-20-20200515044500.png");
}

#IMAGE4005 {
    width: 365.684px;
    height: 202.702px;
    top: 208.791px;
    left: 221.031px;
}

#IMAGE4005.ladi-animation>.ladi-image {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#IMAGE4005>.ladi-image>.ladi-image-background {
    width: 365.684px;
    height: 211.568px;
    top: 0px;
    left: 0px;
    background-image: url("http://viettelpay.vn/1/gt5/images/giovang-20200515044500.png");
}

#IMAGE4006 {
    width: 450.09px;
    height: 235.708px;
    top: 482.371px;
    left: 676.882px;
}

#IMAGE4006.ladi-animation>.ladi-image {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#IMAGE4006>.ladi-image>.ladi-image-background {
    width: 450.09px;
    height: 235.708px;
    top: 0px;
    left: 0px;
    background-image: url("http://viettelpay.vn/1/gt5/images/button-chuyentienmat-20200522084348.png");
}

#HEADLINE4007 {
    width: 619px;
    top: 46.371px;
    left: 290.5px;
}

#HEADLINE4007>.ladi-headline {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}