.ladi-wraper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ladi-section {
    margin: 0 auto;
    position: relative;
}

.ladi-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.ladi-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.ladi-section .ladi-container {
    width: 1200px;
}

.ladi-section .ladi-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.ladi-image .ladi-image-background {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.ladi-element {
    position: absolute;
}

.ladi-headline {
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center center;
}

.ladi-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.ladi-section .ladi-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.ladi-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ladi-carousel .ladi-carousel-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: left 350ms ease-in-out;
}

.ladi-carousel .ladi-carousel-arrow {
    position: absolute;
    width: 30px;
    height: 36px;
    top: calc(50% - 18px);
    background: url("http://viettelpay.vn/1/gt5/data/ladi-icons.svg") rgba(255, 255, 255, 0.2) no-repeat;
    cursor: pointer;
    z-index: 90000040;
}

.ladi-group {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ladi-button {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ladi-button>.ladi-element {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    display: table;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.ladi-button>.ladi-element .ladi-headline {
    display: table-cell;
    vertical-align: middle;
}

.ladi-button .ladi-button-background {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ladi-line .ladi-line-container {
    border-bottom: 0 !important;
    border-right: 0 !important;
    width: 100%;
    height: 100%;
}





